{% extends "base.html" %}


 {%block body-content %}

	 <div class="w1280">
	            <div class="banner">
	                <div class="djs"><span id="new_year"></span></div>
	                <!-- flexslider begin -->
	                <div id="demo01" class="flexslider">
	                    <ul class="slides">
	                            <li>
	                                    <a target="_blank" href="">
	                                        <div class="img1" style="no-repeat center top;">
	                                        	<img src="/static/img/a.jpg"></div>
	                                    </a>
	                            </li>
	                            <li>
	                                    <a target="_blank" href="">
	                                        <div class="img1" style="no-repeat center top;">
	                                        	<img src="/static/img/b.jpg"></div>
	                                    </a>
	                            </li>
	                            <li>
	                                    <div class="img1" style="no-repeat center top;">
	                                    	<img src="/static/img/c.jpg"></div>
	                            </li>
	                            <li>
	                                    <div class="img1" style="no-repeat center top;"><img src="/static/img/d.jpg"></div>
	                            </li>
	                            <li>
	                                    <a target="_blank" href="">
	                                        <div class="img1" style="no-repeat center top;"><img src="/static/img/e.jpg"></div>
	                                    </a>
	                            </li>
	                             <li>
	                                    <a target="_blank" href="">
	                                        <div class="img1" style="no-repeat center top;"><img src="/static/img/f.jpg"></div>
	                                    </a>
	                            </li>
	                    </ul>
	                </div>
	                <!-- flexslider end -->
	                <div class="logo_left">
	                    <img src="/static/imgs/logo_left.png" width="63" height="92" alt="" />
	                </div>
	                <div class="logo_right">
	                    <img src="/static/imgs/logo_right.png" width="92" height="92" alt="" />
	                </div>
	            </div>
	 </div>

	 <script type="text/javascript">
        $(function () {
            $('#demo01').flexslider({
                animation: "slide",
                direction: "horizontal",
                easing: "swing"
            });
        });
    </script>
 {% endblock %}